  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  :root {
    --color-text: #616161;
    --color-text-btn: #ffffff;
    --card1-gradient-color1: #f12711;
    --card1-gradient-color2: #f5af19;
    --card2-gradient-color1: #7F00FF;
    --card2-gradient-color2: #E100FF;
    --card3-gradient-color1: #3f2b96;
    --card3-gradient-color2: #a8c0ff;
    --card4-gradient-color1: #11998e;
    --card4-gradient-color2: #38ef7d;
  }

  body {
    font-family: 'Roboto', sans-serif;
    height: auto;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;
  }

  .card-wrap {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    border: 5px solid #fff;
    overflow: hidden;
    color: var(--color-text);
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  .card-content-wrap {
    height: 100%;
    width: 100%;
    background: rgb(218, 218, 218);
    display: grid;
  }

  .card-header {
    height: 200px;
    width: 100%;
    border-radius: 100% 0% 100% 0% / 0% 50% 50% 100%;
    display: grid;
    place-items: center;

  }

  .card-header i {
    color: #fff;
    font-size: 72px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
  }

  .header {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title {
    margin-left: 30px;
    color: #616161;
  }

  .logo-wrapper {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .logo {
    background-image: url('resources/TM.png');
    height: 80%;
    width: 80%;
    border-radius: 2px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .float-card-content-wrapper {
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 7px 7px;
    margin-bottom: 10px;
  }

  .card-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .float-section {
    width: 95%;
    height: 95%;
    place-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
  }

  .card-text {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .card-btn {
    border: none;
    border-radius: 100px;
    padding: 5px 30px;
    color: #fff;
    margin: 15px 0 15px 0;
    text-transform: uppercase;
    cursor: pointer;
  }

  .position-details {
    display: flex;
    flex-direction: column;
  }

  .position-detail-wrapper {
    margin: 10px 0 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .attribute-name {
    width: 50%;
  }

  .attribute-value {
    width: 50%;
  }

  .card-header.four {
    background: linear-gradient(to bottom left, var(--card4-gradient-color1), var(--card4-gradient-color2));
    position: absolute;
  }

  .card-btn.four {
    background: linear-gradient(to left, var(--card4-gradient-color1), var(--card4-gradient-color2));
  }

  .card-btn:hover {
    transform: scale(1.1);
  }

  input[type=text],
  select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }